body {
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-psd/3d-icon-weather-conditions-with-rain-sun_23-2150108737.jpg?ga=GA1.1.1948880479.1718037922&semt=ais_hybrid');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.weather-container {
  background-color: #fff;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.search-container {
  margin-top: 1em;
}

#search-input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}

#search-button {
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.weather-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}